@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
:root {
  --main-color: #889cd9;
  --black:#060606;
  --light-color:#555;
  --bg: #c1d5e8;
  --border:.1rem solid rgba(0,0,0,.1);
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  scroll-behavior: smooth !important;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg);
  padding-right: 5rem;
}

section {
  padding: 4rem 9%;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 4rem;
  text-transform: uppercase;
  color: #222;
}

.heading span {
  text-transform: uppercase;
  color: var(--main-color);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  background: var(--main-color);
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: .5rem;
}

.btn:hover {
  letter-spacing: .2rem;
}

/* Sección barra de navegación */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}

header .logo span {
  color: var(--main-color);
}

header .menu a {
  font-size: 1.7rem;
  color: var(--light-color);
  margin-left: 2rem;
}

header .menu a:hover {
  color: var(--main-color);
}

header .btn-menu {
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem 1.3rem;
  border-radius: .5rem;
  display: none;
  color: var(--black);
}

/* Sección Inicio */
.inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
  background: var(--bg);
  position: relative;
}

.inicio .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.inicio .content h3 {
  font-size: 3.5rem;
  color: var(--black);
}

.inicio .content p {
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.inicio .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.inicio .image img {
  width: 100%;
}

/* Sección servicios */
.servicios .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.servicios .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30rem;
          flex: 1 1 30rem;
  background: #fff;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  border-radius: .5rem;
}

.servicios .box-container .box img {
  height: 30rem;
  width: 30rem;
}

.servicios .box-container .box h3 {
  font-size: 3rem;
}

.servicios .box-container .box p {
  font-size: 2rem;
  padding: 2rem;
}

/* Sección Sobre nosotros */
.sobre .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.sobre .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
}

.sobre .row .image img {
  width: 100%;
}

.sobre .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
  margin: auto;
}

.sobre .row .content h3 {
  font-size: 3rem;
}

.sobre .row .content p {
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}

/* Sección reseñas */
.reseñas .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.reseñas .box-container .box {
  padding: 2rem;
  border-radius: .5rem;
  border: var(--border);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  background: #fff;
}

.reseñas .box-container .box p {
  padding-top: 1rem;
  font-size: 1.6rem;
  line-height: 1.8;
  color: var(--light-color);
  font-style: italic;
}

.reseñas .box-container .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.reseñas .box-container .box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.reseñas .box-container .box .user h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding-bottom: .5rem;
}

.reseñas .box-container .box .user ion-icon {
  font-size: 1.5rem;
  color: var(--main-color);
}

/* Sección contacto */
.contacto .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacto .row form {
  padding: 1rem 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  background: #fff;
  max-width: 60rem;
}

.contacto .row form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacto .row form .inputBox input {
  width: 100%;
  border-radius: .5rem;
  font-size: 1.7rem;
  color: #333;
  padding: 1rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-transform: none;
}

.contacto .row form .box {
  width: 100%;
  border-radius: .5rem;
  font-size: 1.7rem;
  color: #333;
  padding: 1rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-transform: none;
}

.contacto .row form textarea {
  width: 100%;
  border-radius: .5rem;
  font-size: 1.7rem;
  color: #333;
  padding: 1rem;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-transform: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  header .btn-menu {
    display: initial;
  }
  header .menu {
    position: absolute;
    top: 115%;
    right: 2rem;
    background: #fff;
    -webkit-box-shadow: var(--box-shadow);
            box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    width: 30rem;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    opacity: 0;
  }
  header .menu a {
    font-size: 2rem;
    display: block;
    padding: 1rem;
    margin: 1rem;
    border-radius: .5rem;
  }
  header .menu a:hover {
    background: var(--bg);
  }
  header .active {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .inicio .content {
    text-align: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */